.proStyle{
    background-color: #171941;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hStyle{
    color: #3d5170;
    margin-bottom: 50px;
}
.conStyle{
    width: 70%;
    opacity: 0.9;
    padding: 40px 100px!important;
    height: 500px;
    margin: auto!important;
}
/* p{
    font-size: 18px;
    margin-bottom: 40px;
} */
h4{
    color: rgb(57, 75, 107);
    margin-left: 20px;
    margin-top: 3px;
    font-weight: normal;

}
h3{
    color: rgb(57, 75, 107);
    font-weight: normal;
}
.stock{
    display: flex;
    margin-left: 30px;
    margin-bottom:20px;
}
.func{
    float:left;
    display:flex;
    margin-left:30px;

}
.likenum{
    margin-left:10px;
    margin-top:4px;
}