.labelCss {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  .rememberMe {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  
  .dropdown {
    display: inline;
  }
  
  .input-container > .dropdown {
    font-weight: 600;
  }
  