.socialButton {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    transition: 0.3s ease;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 6px 17px rgba(70, 52, 144, 0.36);
    background-color: #bd3cd8;
    background-image: linear-gradient(-277deg, #7955df 30%, #bd3cd8 100%);
  }
  